*/node_modules/*
*/vscode/*
*/.angular/*
02.2-Tarea-Refuerzo-de-lo-aprendido/.vscode/extensions.json
02.2-Tarea-Refuerzo-de-lo-aprendido/.vscode/launch.json
02.2-Tarea-Refuerzo-de-lo-aprendido/.vscode/tasks.json
